In [1]:
# Question 1: Create a set of first 10 natural numbers
num = [1,2,3,4,5,6,7,8,9,10]
print(set(num))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
set_num = {1, 2, 3, 4, 5}
set_num.add(11)
set_num

{1, 2, 3, 4, 5, 11}

In [8]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
set = {1, 2, 3, 4, 5, 6}
set.remove(3)
set

{1, 2, 4, 5, 6}

In [9]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set = set1 & set2
print(set)

{4, 5}

In [10]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
diff = set1 - set2
print(diff)

{1, 2, 3}

In [12]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
sets = {1, 2, 3, 4, 6, 7, 8}
found = False
for i in sets:
    if i == sets:
        found = True
        break
if found :
    print("found")
else:
    print("not found")

not found

or

In [14]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
sets = {1, 2, 3, 4, 6, 7, 8}
if 5 in sets:
    print("found")
else:
    print("not found")

not found

In [16]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
element = {'a', 'b', 'c', 'd', 'e'}
print(len(element))

5

In [6]:
# Question 8: Create a set of vowels from string "hello world"
vowels = 'aeiouAEIOU'
string = "hello world"

vowel_set = set()

for i in string:
    if i in vowels:
        vowel_set.add(i)
print(vowel_set)

{'o', 'e'}

In [1]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
nums = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
uni_set = set()
for i in nums:
    uni_set.add(i)

print(uni_set)

{1, 2, 3, 4, 5, 6, 7}

In [2]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
set1 = {1,2,3}
set2 = {1,2,3,4,5,6}
print(set1.issubset(set2))

True