In [12]:
# Question 1: Create a tuple of first 10 natural numbers
num = 1,2,3,4,5,6,7,8,9,10
tuple(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [13]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
num = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
len(num)

10

In [14]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
letters = ('a', 'b', 'c', 'd', 'e')
print(letters[2])

c

In [15]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
num = (23, 45, 12, 67, 34, 89, 56)
max(num)

89

In [17]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
num = (1, 5, 2, 5, 3, 5, 4, 5, 6)
count = 0
for i in num:
    if i == 5:
        count += 1
print(count)

4

In [ ]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
numbs = (1,7,8,8.8,"kruthi",True)
print(numbs)

(1, 7, 8, 8.8, 'kruthi', True)

In [27]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
char = ('java', 'python', 'c++', 'javascript')
print(char.index('python'))

1

In [36]:

# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50) 
num = (10, 20, 30, 40, 50)
found = False
for i in num:
    if i == 25:
        found = True
        break
if found:
    print("25 exists in tuple")
else:
    print("25 not found in tuple")

25 not found in tuple

In [42]:
# Question 9: Create a tuple of first 5 even numbers
num = []
for i in range(0,7,2):
    num.append(i)
num = tuple(num)
print(num)

(0, 2, 4, 6)

In [1]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
nums = (15, 23, 31, 42, 56, 78)
average = sum(nums) / len(nums)
print(average)

40.833333333333336